nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    font-size: 15px;
    color: rgba(240, 255, 255, 0.479);
    background-color: #2325265d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: 300;
    top: 0;
}

.buttons{
    display: flex;
}

.buttons div{
    padding: 0 15px;
}

.buttons div:hover{
    cursor: pointer;
    animation-name: a;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.logo{
    margin-left: 20px;

}

.cv{
    margin-right: 20px;
    margin-left: 78px;
}

.logo img{
    height: 30px;
    display: block;
    box-sizing: border-box;
    margin: 0;
    box-shadow: none;
}

@media (max-width: 768px){
    nav{
        font-size: 10px;
    }

    .cv{
        margin-left: 0;
        margin-right: 10px;
    }

    .logo{
        margin-left: 10px;
    }

    .logo img{
        height: 2vh;
    }
}

@media (max-width: 926px) and (orientation: landscape) {
    .cv{
        margin-left: 10px;
    }

    .logo img{
        height: 2vw;
    }
}